

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Student;
    @inject IStudentRepository _studentRepository
}
<form asp-controller="home" asp-action="create" method="post">
    <div asp-validation-summary="All">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" placeholder="请输入姓名" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
        </div>
        <div>
            <label asp-for="Major"></label>
            <select asp-for="Major" asp-items="Html.GetEnumSelectList(typeof(MajorEnum))">
                <option value="">请选择</option>
            </select>
        </div>
        <button type="submit">创建</button>
    </div>
    
    <div>
        <div>学生总人数：@_studentRepository.GetAllStudents().Count().ToString()</div>
    </div>
</form>