
@{
    Layout = null;
    @model MockSchoolManagement.ViewModels.HomeDetailsViewModel;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>@Model.PageTitle</h1>
    <div>
        姓名:@Model.Student.Name
    </div>
    <div>
        邮箱：@Model.Student.Email
    </div>
    <div>
        主修科目:@Model.Student.Major
    </div>
</body>
</html>
