@{
    ViewData["Title"] = "Home Page";

}
@model IEnumerable<MockSchoolManagement.Models.Student>
<div class="text-center">
    @* <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名字</th>
                <th>主修科目</th>
            </tr>
        </thead>
        <tbody>
            
            
        </tbody>
    </table>
    <div class="card-deck">
        @foreach (var student in Model)
        {
            <div class="card m-3">
                <div class="card-header">
                    <h1>@student.Name</h1>
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top" />
                    <h4>
                        姓名:@student.Name
                    </h4>
                    <h4>
                        邮箱：@student.Email
                    </h4>
                    <h4>
                        主修科目:@student.Major
                    </h4>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary m-1">返回</a>
                    <a href="#" class="btn btn-primary m-1">编辑</a>
                    <a href="#" class="btn btn-danger m-1">删除</a>
                </div>
            </div>
        }
    </div>
</div>
</MockSchoolManagement.Models.Student>
